<div id="calendar" class="calendar">
    <div id="dateTable" class="cal-table">
        <div id="calHeader" class="cal-body">
            <div id="calYear" class="calheader-item cal-year">
                <i id="lastYearBtn" class="btn fa fa-angle-left"></i>
                     <label class="now">2021</label> 
         <!--  		      <label>     2022 </label>  -->
                <i id="nextYearBtn" class="btn fa fa-angle-right"></i>
            </div>
            <i id="closeBtn" class="calheader-item btn fa fa-close"></i>
        </div>

        <ul id="calMonth" class="cal-body cal-month">
            <li title="0">Jan</li>
            <li title="1">Feb</li>
            <li title="2">Mar</li>
            <li title="3">Apr</li>
            <li title="4">May</li>
            <li title="5">Jun</li>
            <li title="6">Jul</li>
            <li title="7">Aug</li>
            <li title="8">Sep</li>
            <li title="9">Oct</li>
            <li title="10">Nov</li>
            <li title="11" class="cal-month__now">Dec</li>
        </ul>

        <ul id="calWeek" class="cal-body cal-week">
            <li>Sun</li><li>Mon</li><li>Tue</li><li>Wed</li><li>Thu</li><li>Fri</li><li>Sat</li>
        </ul>

        <ul id="cal-day1" class="cal-body cal-body-day">
            <li id="2021/04/25" class="cal-day">25</li>
            <li id="2021/04/26" class="cal-day">26</li>
            <li id="2021/04/27" class="cal-day">27</li>
            <li id="2021/04/28" class="cal-day">28</li>
            <li id="2021/04/29" class="cal-day">29</li>
            <li id="2021/04/30" class="cal-day">30</li>
            <li id="2021/05/01" class="cal-day">1</li>
        </ul>
        <ul id="cal-day2" class="cal-body cal-body-day">
            <li id="2021/05/02" class="cal-day">2</li>
            <li id="2021/05/03" class="cal-day">3</li>
            <li id="2021/05/04" class="cal-day">4</li>
            <li id="2021/05/05" class="cal-day">5</li>
            <li id="2021/05/06" class="cal-day">6</li>
            <li id="2021/05/07" class="cal-day">7</li>
            <li id="2021/05/08" class="cal-day">8</li>
        </ul>
        <ul id="cal-day3" class="cal-body cal-body-day">
            <li id="2021/05/09" class="cal-day">9</li>
            <li id="2021/05/10" class="cal-day">10</li>
            <li id="2021/05/11" class="cal-day">11</li>
            <li id="2021/05/12" class="cal-day">12</li>
            <li id="2021/05/13" class="cal-day">13</li>
            <li id="2021/05/14" class="cal-day">14</li>
            <li id="2021/05/15" class="cal-day">15</li>
        </ul>
        <ul id="cal-day4" class="cal-body cal-body-day">
            <li id="2021/05/16" class="cal-day">16</li>
            <li id="2021/05/17" class="cal-day">17</li>
            <li id="2021/05/18" class="cal-day">18</li>
            <li id="2021/05/19" class="cal-day">19</li>
            <li id="2021/05/20" class="cal-day">20</li>
            <li id="2021/05/21" class="cal-day">21</li>
            <li id="2021/05/22" class="cal-day">22</li>
        </ul>
        <ul id="cal-day5" class="cal-body cal-body-day">
            <li id="2021/05/23" class="cal-day">23</li>
            <li id="2021/05/24" class="cal-day">24</li>
            <li id="2021/05/25" class="cal-day">25</li>
            <li id="2021/05/26" class="cal-day">26</li>
            <li id="2021/05/27" class="cal-day">27</li>
            <li id="2021/05/28" class="cal-day">28</li>
            <li id="2021/05/29" class="cal-day">29</li>
        </ul>
        <ul id="cal-day6" class="cal-body cal-body-day">
            <li id="2021/05/30" class="cal-day">30</li>
            <li id="2021/05/31" class="cal-day">31</li>
            <li id="2021/06/01" class="cal-day">1</li>
            <li id="2021/06/02" class="cal-day">2</li>
            <li id="2021/06/03" class="cal-day">3</li>
            <li id="2021/06/04" class="cal-day">4</li>
            <li id="2021/06/05" class="cal-day">5</li>
        </ul>
    </div>
</div>


<script>
    var urlJSON = {
    {% for post in site.posts %}
    "{{ post.url | slice: 1, 10 | replace: '-', '/' | replace: '/0', '/' | strip }}": {
        url: "{{ site.baseurl }}{{ post.url }}",
        excerpt: "{{ post.excerpt }}",
        index: {{ forloop.rindex }}
    },
    {% endfor %}
    "end": "end"
    };
    {% if page.date %}
    var activeArticle = "{{ page.date | slice: 0, 10 | replace: '-', '/' | replace: '/0', '/' }}";
    {% else %}
    var activeArticle = new Date().toLocaleDateString();
    {% endif %}
</script>
<script type="text/javascript" src="{{ "/assets/js/calendar.js" | prepend: site.baseurl }}"></script>